<%- include("partials/header.ejs") %>
<h1>About me</h1>
<h2>Personal Details</h2>
<h3>Name:</h3>
<p>Danial Wajahat</p>
<h3>Skill Set</h3>
<p>
  BSCS Graduate | Full stack web developer | AI/ML | Bahria University Islamabad
</p>
<h3>Contact Details:</h3>
<p>daniyalrajpoot565@gmial.com</p>
<p>+92 327 0905534</p>
<%- include("partials/footer.ejs") %>
